    html {
      scroll-behavior: smooth;
      margin-left:0%;
      font-family: Montserrat, sans-serif;
    }
    body{
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      overflow-x: clip !important;
      margin:0;
    }
    .content{
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      box-sizing: content-box;
    }
    ::selection {
      background: #6C3FEA; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
      background: #6C3FEA; /* Gecko Browsers */
    }
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #190c3d; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #6C3FEA; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #4f2bb3; 
    }
    @keyframes fadeIn {
      0% {
          opacity:0;
      }
      100% {
          opacity:1;
      }
    }

    .card {
      margin: 10px;
      width: 98%;
      background: rgb(128,83,255);
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      
      height: auto;
    }
    .card .purpleSkeleton img {
      max-width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .card .skeleton {
      padding: 20px 30px;
    }
    
    .card.is-loading .purpleSkeleton,
    .card.is-loading h2,
    .card.is-loading p {
      background: #eee;
      background: linear-gradient(110deg, #4829A0  8%, #8053FF  18%, #4829A0 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      -webkit-animation: 1.5s shine linear infinite;
              animation: 1.5s shine linear infinite;
    }
    .card.is-loading .purpleSkeleton {
      height: 200px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card.is-loading h2 {
      height: 30px;
    }
    .card.is-loading p {
      height: 70px;
    }
    
    @-webkit-keyframes shine {
      to {
        background-position-x: -200%;
      }
    }
    
    @keyframes shine {
      to {
        background-position-x: -200%;
      }
    }
    .cursor{
      z-index: 1;
      position: absolute;
      width: 2vw; 
      height: 2vw; 
      border-radius: 100%;  
      border:  1px solid white;
  }
  
   .heroSection {
     cursor: none;
   animation:fadeIn 1s linear;
   }
     .loaderParent{
        display: flex;
        margin: 0%;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: ease-out 2s;
        
        /* animation:fadeOut 1s linear; */
     }
     .loader{
      
        /* margin-top: 10%; */
        position: absolute;
        transform: translateY(220%);
        display: flex;
        justify-content: center;
        align-items: center;

     }
  
   .heroSection {
     margin: 0%;
     animation:fadeIn 1s linear;
     width: 100%;
     height: 100vh;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: distribute;
     justify-content: flex-start;
     -webkit-box-align: flex-start;
     -webkit-align-items: flex-start;
     -ms-flex-align: flex-start;
     align-items: flex-start;
     background-color: rgb(24,0,89);
     background-color: linear-gradient(56deg, rgba(24,0,89,1) 0%, rgba(14,139,177,1) 56%, rgba(102,179,134,1) 86%, rgba(255,186,25,1) 100%);
     background-image: url("assets/background.jpg");
     background-repeat: no-repeat;
     background-size: 101%;
   }
   
   .logo-header {
    animation: slideDown 500ms ease-in-out;
     padding: 1% 0%;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: space-between;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(24px);
    position: fixed;
   }
   .navbuttons{
     margin-right: 20%;
     color: white;
     display: flex;
   }

   .contact{
    background: linear-gradient(89.96deg, #4829A0 0.85%, #8053FF 99.96%);
    border-radius: 24px;
   }
   .navbuttons div{
     font-family: montserrat;
    font-size: 0.75vw;
    margin-right: 1vw;
    padding:0.5vw  1vw ;
   }
   .logo-heading-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin:0 20%;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   .logo{
    width: 10vw;
   }
   
   .logo-heading {
     margin:0%;
     
   }
   
   .heading-block-new {
     display: none;
     width: 35%;
     margin-left: 5%;
   }
   
   
   
   .mainHeadingBlock {
    animation: slideDown 500ms ease-in-out;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     margin-left: 0%;
     padding-right: 10%;
     margin-left: 20%;
     padding-top:8% ;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
   }
   
   .main-heading-1 {
     margin-top: 0;
     margin-bottom: 0;
     font-family: Poppins, sans-serif;
     color: white; 
     font-size: 3.5vw;
     font-weight:600;
     
     letter-spacing: 2%;
   }
   
  

   .main-heading-2 {
     margin: 0% !important;
     font-family: Poppins, sans-serif;
     background: linear-gradient(89.94deg, #6C3FEA -5.94%, #3EEDF9 112.92%);
     font-size: 4vw;
     font-weight:600;
     text-align: center;
     -webkit-background-clip: text;
     background-clip:text;
     -webkit-text-fill-color: transparent;
     letter-spacing: 2%;
     line-height: 3.5vw;
   }  

   .mainCTA {
     display: flex;
     justify-content: flex-start;
     width: 38%;
     color: rgba(255,255,255,0.6);
     stroke:rgba(255,255,255,0.6);
     transition: 200ms ease-in;
     margin-top: 1vw;
     border-radius:24px;
     /* background-color: rgba(255,255,255,0.2); */
   }
   .mainCTA:hover > .arrow{
    animation-play-state: paused;

   }
   .CTAtext{
    font-size: 1vw;
   }
   .arrow{
    animation: arrowBounce 1.5s infinite ease-in-out;
    margin-left: 1vw;
    width: 1vw;
   }
   .arrowRight{
    margin-left: 0.5vw;
    width: 1.5vw;
    transform: rotate(180deg);
   }
   .tagContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    padding-top: 1%;
    
  }
  .tagTitle{
    width:81% !important;
    padding-top: 3%;
    align-items: center;
    justify-content: space-between;
    width: inherit;
  }
  .titleHeader{
    font-size: 2.5vw;
  }
  .ViewHeader{
    font-size: 2vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0%;
    color: white;
  }
  .titleLink{
    font-size:1.5vw !important ;
  }
  .portfolio{
    overflow: hidden;
    
    margin:2% 20% ;
    width: 80%;
  }
  .tag{
    color: rgba(255,255,255,0.4);    
    backdrop-filter: blur(24px);
    font-size: 0.8vw;
    margin-right:1%; 
    padding:0.5% 1%;
    width: auto;
    background: rgba(255,255,255,0.2);
    border-radius: 24px;
    cursor: pointer;
    font-weight: 500;
    
  }
  #active {
    color: white;
    background: rgba(255,255,255,0.4);
    border: 1px solid white;
  }
  .backtoHero{
    cursor: pointer;
    padding: 1%;
    
  }
  .backtoHero .arrow{
    width:1.5vw;
  }
  .tagTitle{
    display: flex;
    justify-content: space-between;
  }
  .tagContent{
    padding-top: 3.5%;
    display: flex;
    justify-content: space-between;
    width: 81%;
  }
  .tagInfo{
    
    width: 30%;
    display: flex;
    flex-direction: column;
    
  }
  .tagHeader{
    padding-top:5% ;
    font-size: 4vw;
    font-weight: 800;
  }
  .tagExplainer{
    padding: 5% 0%;
    text-align: justify;
    font-size: 1.35vw !important;
    color: rgba(0,0,0,0.6) !important;
  }
  .contactCTA{
    
    font-weight: 600;
    padding: 2% 4% ;
    border: 0.1vw solid black;
    width: fit-content;
    border-radius: 24px;
    font-size: 1.15vw;
    transition: 300ms ease-in;
  }
  .contactCTA:hover{
    color:white;
    background-color: black;
    cursor: pointer;
    box-shadow: 8px 8px 24px rgba(0, 0, 0	
    , 0.25) ;
  }
  .tagPhotoContainer{
    width: 50vw;
    overflow: hidden;
  }
  .tagPhoto{
    
    width: 100%;
    height: auto;
    transition: 300ms ease-in;
    animation: zoomImage 500ms ease-in-out;

    transform: scale(1.08);
  }
  .tagPhotoContainer:hover .tagPhoto{
    transform: scale(1.09);
  }
  .top{
    animation: slideup 500ms ease-in-out;
  }
  .bottom{
    border: none;
    background: rgba(0,0,0,0)
  }
  .backgroundLottie{
    position: absolute;
    z-index: 0;
  }
  .titleLink{
    cursor: pointer;
  }
  .titleLink,.tagExplainer{
    font-size: .9vw;
  }
  
 .automatic{
   display: flex;
   background-color: #F7F7F7;
   padding: 2%;
   border-radius: 24px;
   width: fit-content;
   /* gap: 0.6vw; */
 }
 .automatic #current{
  background-color: black;
 }
  .c1,.c2{
    margin-right: 0.5vw;
    height: .6vw;
    width:.6vw;
    border-radius: 100%;
    background-color: #C6C6C6;

  }
  .c3{
    height: .6vw;
    width:.6vw;
    border-radius: 100%;
    background-color: #C6C6C6;
  }
  .slider{
    animation: slideup 500ms ease-in-out;

    overflow: clip;
    border-radius: 24px;
    padding-top: 2%; 
    width: 75%; 
  }
   @media screen and (min-width: 1440px) {
     
   }
   
   @media screen and (min-width: 1920px) {
     
   }
   
   @media screen and (max-width: 991px) {
    
   }
   
   @media screen and (max-width: 479px) {
    /* .content{
      overflow-y: hidden;
    } */
     .cursor{
       display: none;
     }
     ::-webkit-scrollbar {
      width: 1px;
    }

     .heroSection {
       overflow-y: scroll;
       overflow-x: hidden;
       width: 100%;
       height: 100vh;
       -webkit-box-pack: start;
       -webkit-justify-content: flex-start;
       -ms-flex-pack: start;
       justify-content: flex-start;
       background: rgb(24,0,89);
       background: linear-gradient(56deg, rgba(24,0,89,1) 0%, rgba(14,139,177,1) 56%, rgba(102,179,134,1) 86%, rgba(255,186,25,1) 100%);  
       background-image: url("assets/background.jpg");
       background-position: 0% 50%;
       background-size: cover;
     }

     .navbuttons{
      
      color: white;
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 3%;
      /* border: 1px solid white; */
      margin:0% !important;
    }
 
    .contact{
     background: linear-gradient(89.96deg, #4829A0 0.85%, #8053FF 99.96%);
     border-radius: 24px;
    }
    .navbuttons div{
      font-family: montserrat;
     font-size: 3.5vw;
     margin-right: 4vw;
     padding: 1% 4% ;
     
    }
     .logo-header {
       padding: 3% 0%;
       flex-direction: column;

     }
     .logo {
       width: 32vw;
     }
   
     .heading-block-new {
       display: none;
       width: auto;
     }
   
     .mainHeadingBlock {
       margin-top: 25%;
       padding-right: 5%;
       margin-left: 5% !important;
     }
   
     .main-heading-1 {
       padding-right: 64px;
       font-size: 10vw;
       line-height: 12vw;
       text-align: left;
       
     }
   
     .main-heading-2 {
       margin-top: 5%;
       font-size: 10vw;
       line-height: 10vw;
       text-align: left;
       margin-bottom: 5%;
     }
   
     #mainCTA{
       display: flex !important;
       /* padding: 2vw !important; */
       justify-content: flex-start !important;
       align-items: center !important;
       width: 100% !important;
       color: #fff;
       
     }
     #mainCTA .CTAtext{
      font-size: 4vw;
      color: rgba(255,255,255,0.6);
     }
     .arrow{
      color: #fff;
      animation: arrowBounce 1.5s infinite ease-in-out;
      cursor: pointer;
      margin-left: 2vw;
      width: 4vw;
     }

     /* Portfolio Section CSS */
     
    .tagTitle{
      width:80% !important;
      padding-top: 3%;
      align-items: center;
      justify-content: space-between;
      width: inherit;
    }
    .titleHeader{
      font-size: 6vw;
    }
    .ViewHeader{
      font-size: 6vw;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 0% !important;
    }
    
    .portfolio{
      display: grid;
      width: 100%;
      color: #fff;
      margin-left: 5% !important;
      
      
    }
    .slider{
      animation: slideup 500ms ease-in-out;
      border-radius: 24px;
      padding-top: 2%; 
      width: 62%;   
      
    
    }
    .tagContainer{
      overflow-x: scroll !important;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      padding-top: 0%;
      height: fit-content;
      padding-top: 2%;
      width: 65%;
      
    }
    .tagContainer::-webkit-scrollbar{
      display: none;
    }
    .tagContainer{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none; /*others*/
    }
    .tag{
      
      font-size:3.5vw;
      margin-right:2%; 
      padding:1% 3%;
      white-space: pre;
      border-radius: 24px;
      cursor: pointer;
      font-weight: 500;
      text-align: left;
      width: auto;
      white-space:nowrap; 
      
      
      background-color: rgba(255,255,255,0.2);
      color: rgba(255,255,255,0.4);
      
    }
    #active {
      color: white;
      background:rgba(255,255,255,0.6);
      box-shadow: none !important;
    }
    .backtoHero{
      cursor: pointer;
      padding: 1%;
      
    }
    .arrowRight,.backtoHero .arrow{
      width:4vw;
    }
    .tagTitle{
      display: flex;
      justify-content: space-between;
      width: 95% !important;
    }
    .tagContent{
      padding-top: 5%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      width: 96%;
    }
    .tagInfo{
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center !important;
      width: 100%;
      padding-top: 2%;
    }
    .tagHeader{
      font-size: 6vw;
      font-weight: 800;
      text-align: center;
    }
    .contactCTA{
      
      font-weight: 600;
      padding: 2% 4% ;
      border: 0.1vw solid black;
      width: 80%;
      text-align: center;
      border-radius: 24px;
      font-size: 4vw;
      transition: 300ms ease-in;
    }
    .contactCTA:hover{
      color:white;
      background-color: black;
      cursor: pointer;
      box-shadow: 8px 8px 24px rgba(0, 0, 0	
      , 0.25) ;
    }
    .tagPhotoContainer{
      border-radius: 4px;
      width: 100vw;
      height: auto;
      overflow: hidden;
      
    }
    .tagPhoto{
      
      width: 100%;
      height: auto;
      transition: 300ms ease-in;
      animation: zoomImage 500ms ease-in-out;
  
      transform: scale(1.08);
    }
    .tagPhotoContainer:hover .tagPhoto{
      transform: scale(1.09);
    }
    .top{
      animation: slideDown 500ms ease-in-out;
    
    }
    .bottom{
      margin-top: 2%;
      margin-left: 0% !important;
      width: 96.2vw;
    }
    .backgroundLottie{
      position: absolute;
      z-index: 0;
    }
    .titleLink{
      cursor: pointer;
    }
    .titleLink,.tagExplainer{
      font-size: 4vw;
    }
    .tagExplainer{
      padding: 5% 0%;
      text-align: justify;
      font-size: 5vw !important;
  
    }
    .titleLink{
      font-size: 4vw !important;
    }
     
 .automatic{
  display: flex;
  background-color: #F7F7F7;
  padding: 2%;
  border-radius: 24px;
  width: fit-content;
  /* gap: 0.6vw; */
}
.automatic #current{

 background-color: black;
}
 .c1,.c2{
   margin-right: 02vw;
   height: 2vw;
   width:2vw;
   border-radius: 100%;
   background-color: #C6C6C6;

 }
 .c3{
   height: 2vw;
   width:2vw;
   border-radius: 100%;
   background-color: #C6C6C6;
 }
 
.card {
  margin: 10px;
  width: 100%;
  background: rgb(128,83,255);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.card .image img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .skeleton {
  padding: 20px 30px;
}

.card.is-loading .image,
.card.is-loading h2,
.card.is-loading p {
  background: #eee;
  background: linear-gradient(110deg, #4829A0  8%, #8053FF  18%, #4829A0 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
          animation: 1.5s shine linear infinite;
}
.card.is-loading .image {
  height: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card.is-loading h2 {
  height: 30px;
}
.card.is-loading p {
  height: 70px;
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
   }
   