    html {
      scroll-behavior: smooth;
      margin-left:0%;
      overflow: hidden;
      font-family: Montserrat, sans-serif;
    }
    body{
      overflow: hidden;
      margin:0;
    }
    @keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }

    .cursor{
    z-index: 1;
    position: absolute;
    /* border: solid .25vw #000; */
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(100px); 
    width: 1vw; 
    height: 1vw; 
    border-radius: 100%;  
  }
   .heroSection {
   animation:fadeIn 1s linear;
   }
     .loaderParent{
        display: flex;
        margin: 0%;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: ease-out 2s;
        
        /* animation:fadeOut 1s linear; */
     }
     .loader{
      
        /* margin-top: 10%; */
        position: absolute;
        transform: translateY(220%);
        display: flex;
        justify-content: center;
        align-items: center;

     }
  
   .heroSection {
     margin: 0%;
     animation:fadeIn 1s linear;
     width: 100%;
     height: 100vh;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: distribute;
     justify-content: flex-start;
     -webkit-box-align: flex-start;
     -webkit-align-items: flex-start;
     -ms-flex-align: flex-start;
     align-items: flex-start;
     background-color: rgb(24,0,89);
     background-color: linear-gradient(56deg, rgba(24,0,89,1) 0%, rgba(14,139,177,1) 56%, rgba(102,179,134,1) 86%, rgba(255,186,25,1) 100%);
     background-image: url("assets/bg.jpg");
     background-repeat: no-repeat;
     background-size: 100%;
   }
   
   .logo-header {
    animation: slideDown 1000ms ease-in;
     padding: 2% 0% 10% 0%;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
   }
   
   .logo-heading-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 50%;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   
   .logo {
     width: 36%;
   }
   
   .logo-heading {
     margin:0%;
     
   }
   
   .heading-block-new {
     display: none;
     width: 35%;
     margin-left: 5%;
   }
   
   
   
   .mainHeadingBlock {
    animation: slideup 1000ms ease-in-out;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     margin-left: 0%;
     padding-right: 10%;
     padding-left: 10%;
     padding-top:2% ;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
   }
   
   .main-heading-1 {
     margin-top: 0;
     margin-bottom: 0;
     font-family: Poppins, sans-serif;
     color: rgba(255,255,255,0.8); 
     font-size: 5vw;
     font-weight:900;
     line-height: 1vw;
     letter-spacing: 5%;
   }
   
   @supports (-webkit-text-stroke: .10vw white) {
     
    .main-heading-1 {
      color: white;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .10vw;
  -webkit-text-stroke-color: white; 
    }
    
   }
   .main-heading-2 {
     /* margin-top: 3vw; */
     margin-bottom: 0px;
     font-family: Poppins, sans-serif;
     color: #fff;
     font-size: 5vw;
     line-height: 1vw;
     font-weight:900;
     text-align: center;
   }

   .mainCTA {
     display: flex;
     
     justify-content: flex-start;
     width: 40%;
     margin-top: 2.5%;
     
     cursor: pointer;
     color: rgba(255,255,255,0.6);
     stroke:rgba(255,255,255,0.6);
     transition: 200ms ease-in;
     padding: 1vw;
     border-radius:24px;
     /* background-color: rgba(255,255,255,0.2); */
   }
   .mainCTA:hover{
    color: rgba(255,255,255,1);
    stroke:rgba(255,255,255,1);
    
   }
   .mainCTA:hover > .arrow{
    animation-play-state: paused;

   }
   .CTAtext{
    font-size: 1.25vw;
   }
   .arrow{
    animation: arrowBounce 1.5s infinite ease-in-out;
    margin-left: 1vw;
    width: 1vw;
   }
   .arrowRight{
    margin-left: 0.5vw;
    width: 1vw;
    transform: rotate(180deg);
   }
   .tagContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    padding-top: 2%;
    margin-left:  10%;
    
  }
  .tagTitle{
    width:80% !important;
    padding-top: 3%;
    align-items: center;
    justify-content: space-between;
    width: inherit;
  }
  .titleHeader{
    font-size: 1.5vw;
  }
  .ViewHeader{
    font-size: 2vw;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
  }
  .portfolio{
    overflow: hidden;
    
    padding: 2% 10% 10% 10%;
    width: 80%;
  }
  .tag{
    font-size: 0.8vw;
    margin-right:1%; 
    padding:0.5% 1%;
    width: auto;
    background-color: #F7F7F7;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 500;
    
  }
  .active {
    color: white;
    background:#6C3FEA;
    box-shadow: 8px 8px 24px rgba(108, 63, 234	
    , 0.25) ;
  }
  .backtoHero{
    cursor: pointer;
    padding: 1%;
    
  }
  .backtoHero .arrow{
    width:1.5vw;
  }
  .tagTitle{
    display: flex;
    justify-content: space-between;
  }
  .tagContent{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .tagInfo{
    
    width: 30%;
  }
  .tagHeader{
    font-size: 3vw;
    font-weight: 800;
  }
  .contactCTA{
    font-weight: 600;
    padding: 1% 2% ;
    border: 2px solid black;
    width: fit-content;
    border-radius: 24px;
    
    transition: 300ms ease-in;
  }
  .contactCTA:hover{
    color:white;
    background-color: black;
    cursor: pointer;
  }
  .tagPhoto{
    
    width: 100%;
    height: auto;
  }
  .top{
    animation: slideDown 1000ms ease-in-out;
  }
  .bottom{
    margin-left: 10%;
    
  }
  
   @media screen and (min-width: 1440px) {
     
   }
   
   @media screen and (min-width: 1920px) {
     
   }
   
   @media screen and (max-width: 991px) {
    
   }
   
   @media screen and (max-width: 479px) {
     .heroSection {
       overflow: hidden;
       width: 100%;
       height: 100vh;
       -webkit-box-pack: start;
       -webkit-justify-content: flex-start;
       -ms-flex-pack: start;
       justify-content: flex-start;
       background: rgb(24,0,89);
       background: linear-gradient(56deg, rgba(24,0,89,1) 0%, rgba(14,139,177,1) 56%, rgba(102,179,134,1) 86%, rgba(255,186,25,1) 100%);  
       background-image: url("/assets/mobile_background.jpg");
       background-position: 0% 50%;
       background-size: cover;
     }

   
     .logo-header {
       padding-top: 10%;
     }
   
     .logo-heading-block {
       width: 100%;
       
     }
   
     .logo {
       width: 50%;
     }
   
     .heading-block-new {
       display: none;
       width: auto;
     }
   
     .mainHeadingBlock {
       margin-top: 40%;
       padding-right: 5%;
       padding-left: 5%;
     }
   
     .main-heading-1 {
       padding-right: 64px;
       font-size: 12vw;
       line-height: 12vw;
       text-align: left;
     }
   
     .main-heading-2 {
       margin-top: 5%;
       font-size: 10vw;
       line-height: 10vw;
       text-align: left;
       margin-bottom: 5%;
     }
   
     .mainCTA div{
       display: flex !important;
       /* padding: 2vw !important; */
       justify-content: center !important;
       
       
       font-size: 4vw ;
     }
     .arrow{
      animation: arrowBounce 1.5s infinite ease-in-out;
      cursor: pointer;
      margin-left: 2vw;
      width: 4vw;
     }
   }