    html {
      scroll-behavior: smooth;
      margin-left:0%;
      font-family: Montserrat, sans-serif;
    }
    body{
      cursor: url('assets/cursor.svg'), auto;	
      width: 100%;
      height: 100%;
      overflow-x: clip !important;
      margin:0;
      background-color: rgb(24,0,89);
      background-repeat: no-repeat;
      background-size: 101%;
    }
    .content{
      width: 100%;
      height: 100%;
      background-color: rgb(24,0,89);
      background-color: linear-gradient(56deg, rgba(24,0,89,1) 0%, rgba(14,139,177,1) 56%, rgba(102,179,134,1) 86%, rgba(255,186,25,1) 100%);
      background-image: url("assets/mobileBackgroundGradient.svg");
      background-repeat: no-repeat;
      background-size: 101%;
      

    }
    .cardTitleContainer{
      display: flex;
      justify-content: space-between;
      width: 73.5%;
      align-items: center;
    }
    .cardTitle{
      font-size: 2vw;
      font-weight: 400;
      padding-bottom: 2%;
      color: white;
    }
    .viewAll{
      color: rgba(255,255,255,0.4);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 8%;
    }
    .arrow{
      width: 1vw;
    }
    ::selection {
      background: #6C3FEA; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
      background: #6C3FEA; /* Gecko Browsers */
    }
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #190c3d; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #6C3FEA; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #4f2bb3; 
    }
   

   .heroSection {
      animation:fadeIn 1s ease-in;
   }
     .loaderParent{
        display: flex;
        margin: 0%;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: ease-out 2s;
        animation:fadeOut 1s linear;
     }
     .loader{
        transform: translateY(150%);
     }
  
   .heroSection {
     margin: 0%;
     animation:fadeIn 1s linear;
     width: 100%;
     height: fit-content;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: distribute;
     justify-content: flex-start;
     -webkit-box-align: flex-start;
     -webkit-align-items: flex-start;
     -ms-flex-align: flex-start;
     align-items: flex-start;
     
   }
   
   .logo-header {
     z-index: 2;
    animation: slideDown 500ms ease-in-out;
     padding: 1% 0%;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: space-between;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(100px);
    position: fixed;
   }
   .navbuttons{
     margin-right: 20%;
     color: white;
     display: flex;
   }

   .contact{
    background: linear-gradient(89.96deg, #4829A0 0.85%, #8053FF 99.96%);
    border-radius: 24px;
   }
   .navbuttons div{
     font-family: montserrat;
    font-size: 0.75vw;
    margin-right: 1vw;
    padding:0.5vw  1vw ;
   }
   .logo-heading-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin:0 20%;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   .logo{
    width: 10vw;
   }
   
   .logo-heading {
     margin:0%;
     
   }
   
   .heading-block-new {
     display: none;
     width: 35%;
     margin-left: 5%;
   }
   
   
   
   .mainHeadingBlock {
    animation: slideDown 500ms ease-in-out;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     margin-left: 0%;
     padding-right: 10%;
     margin-left: 20%;
     padding-top:5.5% ;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
   }
   
   .main-heading-1 {
     margin-top: 0;
     margin-bottom: 0;
     font-family: Poppins, sans-serif;
     color: white; 
     font-size: 3.5vw;
     font-weight:600;
     
     letter-spacing: 2%;
   }
   
  

   .main-heading-2 {
     margin: 0% !important;
     font-family: Poppins, sans-serif;
     background: linear-gradient(89.94deg, #6C3FEA -5.94%, #3EEDF9 112.92%);
     font-size: 4vw;
     font-weight:600;
     text-align: center;
     -webkit-background-clip: text;
     background-clip:text;
     -webkit-text-fill-color: transparent;
     letter-spacing: 2%;
     line-height: 3.5vw;
   }  

   .mainCTA {
     display: flex;
     justify-content: flex-start;
     width: 38%;
     color: rgba(255,255,255,0.6);
     stroke:rgba(255,255,255,0.6);
     transition: 200ms ease-in;
     margin-top: 1vw;
     border-radius:24px;
     /* background-color: rgba(255,255,255,0.2); */
   }

   .CTAtext{
    font-size: 1vw;
   }
 
  
  .portfolio{
    overflow: visible;    
    margin:1% 20% ;
    width: 80%;
    animation: slideup 500ms ease-in-out;
  }
 
 
  .testimonials{
    /* background-image:url('assets/backgroundGradient.svg'); */
    background-color: #190c3d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:100%;
    height: 30vw;
  }
  .testimonials-data{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    width: 100%;
    height: 100%;
  }
  .testimonails-image{
    /* border: 1px solid white;  */
    width: 60%;
    
    
  }
  .cards{

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    width: 75%;
    padding:0%;
    /* overflow-x: clip; */
    
 }
 .innerCard{
    border: none !important;
    width: 95%;
    padding-bottom: 5%;
    transition: 300ms ease-in-out;
    animation: zoomImage 500ms ease-in-out;
    
 }
 .innerCard:hover{
  
  transform: scale(1.025);
  cursor: url('assets/pointer.svg'), auto;
 }

   @media screen and (min-width: 1440px) {
     
   }
   
   @media screen and (min-width: 1920px) {
     
   }
   
   @media screen and (max-width: 991px) {
    
   }
   
   @media screen and (max-width: 479px) {
    .cardTitleContainer{
      display: flex;
      justify-content: space-between;
      width: 113%;
      align-items: center;
    }
    .cardTitle{
      font-size: 6vw;
      font-weight: 400;
      padding-bottom: 2%;
    }
    /* .viewAll{
      color: rgba(255,255,255,0.4);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
    } */
    .arrow{
      width: 4vw;
    }
    .cards{

      display: grid;
      grid-template-columns: auto;
      justify-content: space-between;
      width: 120%;
      padding:0%;
      
      
   }
   .innerCard{
      border: none !important;
      width: 95%;
      padding-bottom: 5%;
      transition: 300ms ease-in-out;
      
   }
   .innerCard:hover{
    
    transform: scale(1.025);
    cursor: url('assets/pointer.svg'), auto;
   }
    .content{
      overflow-y: scroll;
    }
     
     ::-webkit-scrollbar {
      width: 1px;
    }

     .heroSection {
       /* overflow-y: scroll; */
       overflow-x: hidden;
       width: 100%;
       height: 100vh;
       -webkit-box-pack: start;
       -webkit-justify-content: flex-start;
       -ms-flex-pack: start;
       justify-content: flex-start;
       background: rgb(24,0,89);
       background: linear-gradient(56deg, rgba(24,0,89,1) 0%, rgba(14,139,177,1) 56%, rgba(102,179,134,1) 86%, rgba(255,186,25,1) 100%);  
       background-image: url("assets/background.jpg");
       background-position: 0% 50%;
       background-size: cover;
     }

     .navbuttons{
      
      color: white;
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 3%;
      /* border: 1px solid white; */
      margin:0% !important;
    }
 
    .contact{
     background: linear-gradient(89.96deg, #4829A0 0.85%, #8053FF 99.96%);
     border-radius: 24px;
    }
    .navbuttons div{
      font-family: montserrat;
     font-size: 3.5vw;
     margin-right: 4vw;
     padding: 2% 4% ;
     
    }
     .logo-header {
       padding: 3% 0%;
       flex-direction: column;
       z-index: 2;
     }
     .logo {
       width: 32vw;
     }
   
     .heading-block-new {
       display: none;
       width: auto;
     }
   
     .mainHeadingBlock {
       margin-top: 25%;
       padding-right: 5%;
       margin-left: 5% !important;
     }
   
     .main-heading-1 {
       padding-right: 64px;
       font-size: 10vw;
       line-height: 12vw;
       text-align: left;
       
     }
   
     .main-heading-2 {
       margin-top: 5%;
       font-size: 10vw;
       line-height: 10vw;
       text-align: left;
       margin-bottom: 5%;
     }
   
     #mainCTA{
       display: flex !important;
       /* padding: 2vw !important; */
       justify-content: flex-start !important;
       align-items: center !important;
       width: 100% !important;
       color: #fff;
       
     }
     #mainCTA .CTAtext{
      font-size: 4vw;
      color: rgba(255,255,255,0.6);
     }
    .portfolio{
      display: grid;
      color: #fff;
      margin-left: 5% !important;
      overflow: visible;
    }
   }
 